@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Canopee";
    src: url("../../public/fonts/CanopeeRegular.otf");
  }

@font-face {
    font-family: "LazyMonday";
    src: url("../../public/fonts/LazyMonday.otf");
  }

@font-face {
    font-family: "Pastel";
    src: url("../../public/fonts/PastelCrayon.ttf");
  }

@font-face {
    font-family: "Lastik";
    src: url("../../public/fonts/LastikRegular.otf");
  }

@font-face {
  font-family: "Helvetica";
  src: url("../../public/fonts/HelveticaMedExt.ttf")
}

@font-face {
  font-family: "Capuche";
  src: url("../../public/fonts/Capuche.otf")
}

@font-face {
  font-family: "MigraExtralight";
  src: url("../../public/fonts/Migra-Extralight.otf");
}

@font-face {
  font-family: "MigraExtraBold";
  src: url("../../public/fonts/Migra-Extrabold.otf");
}

@font-face {
  font-family: "Gooddog";
  src: url("../../public/fonts/Gooddog.TTF");
}

  /* body {
    overflow: hidden;
  } */
